body {
    min-height: 100vh;
    margin: 0;
    background-image: url("images/bg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    width: 60px;
    height: 90px;
}

.hometitle {
    font-size: 60px;
}

.homepage-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
}

.homepage-button {
    background-color: white;
    border: solid white 1px;
    margin: 10px 0;
    border-radius: 12px;
    width: 500px;
    height: 75px;
    font-size: 32px;
}

.solved-card:hover {
    background-color: #82dc7c;
}

.card:hover {
    transform: scale(1.1);
    background-color: #8ed3d5;
}

#card-container {
    width: 65vw;
}

.card-grid {
    width: 65vw;
    border-radius: 15px;
    margin-top: 10vh;
}

.title {
    font-size: 20px;
}

.heart {
    width: 25px;
    height: 25px;
    padding: 1px;
}

.broken {
    filter: hue-rotate(180deg);
}

.blurred {
    filter: blur(5px);
}

#blurscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 10;
}

.hidden {
    display: none !important;
}

.blurbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
    background-color: white;
    border: solid white 1px;
    margin: 10px;
}
