body {
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    width: 60px;
    height: 90px;
}

.hometitle {
    font-size: 60px;
}

.currencies p, .level p {
    font-size: 50px;
}

.currenciesgame {
    margin-top: -10px;
}

.currenciesgame p{
    font-size: 24px;
}

.homepage-buttons {
    height: 50vh;
}

.homepage-button {
    width: 500px;
    height: 75px;
    font-size: 32px;
}

.solved-card:hover {
    background-color: var(--card-back-solved-hover);
}

.card:hover {
    transform: scale(1.1);
    background-color: var(--card-back-unsolved-hover);
}

.shredded:hover {
    transform: scale(1);
}

#card-container {
    width: 30vw;
}

.card-grid {
    width: 30vw;
    border-radius: 15px;
    margin-top: 5vh;
}

.card-selector-label {
    width: 120px;
    height: 160px;
    font-size: 50px;
}

.title {
    font-size: 20px;
}

.heart {
    padding: 1px;
}

.broken {
    filter: hue-rotate(180deg);
}

.blurred {
    filter: blur(5px);
}

#leaderboard-screen, #shop-screen, #preferences-screen {
    left: 30vw;
    width: 40vw;
}

#preferences-screen {
    width: 30vw;
}

.card-selector-label:hover {
    transform: translateY(-5px);
}

.upgrade:hover {
    background: var(--card-back-unsolved-hover);
}

.unavailable-upgrade:hover {
    background-color: var(--card-unavailable-hover);
}

.unaffordable-upgrade:hover {
    background-color: var(--card-unaffordable-hover);
}

#buy-button:hover {
    background-color: var(--buy-button-hover);
}

.login-form{
    height: 50vh;
}

.login-form input{
    width: 500px;
    height: 75px;
    font-size: 32px;
}