<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Roguelite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" media="screen and (orientation: landscape)" href="../public/desktop.css">
</head>
<body>
<div class="homepage-container" id="homepage-container">
    <h1 class="hometitle">Memory Roguelite V1.01</h1>
    <div class="currencies">
        <div class="gold">
            <p class="gold-text">0 🪙</p>
        </div>
        <div class="xp">
            <p class="xp-text">XP Total: 1⭐</p>
        </div>
    </div>
    <div class="level">
        <p class="level-text">Level: 1 🚀</p>
    </div>
    <div class="homepage-buttons">
        <button class="homepage-button" onclick="window.location.href='../Templates/main_game.html'">Play</button>
        <button class="homepage-button" >Delete savefile</button>
        <button class="homepage-button" id="leaderboard-button" >Leaderboard</button>
        <button class="homepage-button" id="shop-button">Shop</button>
        <button class="homepage-button" >Help</button>
        <button class="homepage-button" >Credits</button>
    </div>
</div>
<div class="overlay hidden" id="shop-overlay">
    <div class="shop-screen hidden" id="shop-screen">
        <h2 class="homescreen-h2">Upgrade Shop</h2>
        <div class="shop-screen-buttons" id="shop-screen-buttons">

        </div>
        <div class="shop-screen-upgrade-explantion hidden" id="shop-screen-upgrade-explantion">

        </div>
    </div>
</div>
<div class="overlay hidden" id="leaderboard-overlay">
    <div class="leaderboard-screen hidden" id="leaderboard-screen">
        <h2 class="homescreen-h2">Leaderboard</h2>
        <svg class="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path fill="currentColor" d="M12 2A10 10 0 1 0 22 12A10 10 0 0 0 12 2Zm0 18a8 8 0 1 1 8-8A8 8 0 0 1 12 20Z" opacity=".5" />
            <path fill="currentColor" d="M20 12h2A10 10 0 0 0 12 2V4A8 8 0 0 1 20 12Z">
                <animateTransform attributeName="transform" dur="1s" from="0 12 12" repeatCount="indefinite" to="360 12 12" type="rotate" />
            </path>
        </svg>
        <table class="leaderboard-table">

        </table>
    </div>
</div>
</body>
</html>
<script src="/scripts/eventbus.js"></script>
<script src="/scripts/data.js"></script>
<script src="/scripts/leaderboard.js"></script>
<script type="module" src="/scripts/shop.js"></script>
