<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Roguelite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" media="screen and (orientation: landscape)" href="../public/desktop.css">
</head>
<body>
<div class="homepage-container">
    <h1 class="hometitle">Memory Roguelite V1.01</h1>
    <div class="currencies">
        <div class="gold">
            <p class="gold-text">0 🪙</p>
        </div>
        <div class="xp">
            <p class="xp-text">XP Total: 1⭐</p>
        </div>
    </div>
    <div class="level">
        <p class="level-text">Level: 1 🚀</p>
    </div>
    <div class="homepage-buttons">
    <button class="homepage-button" onclick="window.location.href='../Templates/main_game.html'">Play</button>
    <button class="homepage-button" >Delete savefile</button>
    <button class="homepage-button" >Leaderboard</button>
    <button class="homepage-button" >Shop</button>
    <button class="homepage-button" >Help</button>
    <button class="homepage-button" >Credits</button>
    </div>
</div>
</body>
</html>
<script src="/scripts/data.js"></script>
<script>
    const displaydata = loadStuff();
    document.getElementsByClassName("gold-text")[0].textContent = `${displaydata.gold} Gold 🪙`
    document.getElementsByClassName("xp-text")[0].textContent = `${displaydata.xp} XP ⭐`
    document.getElementsByClassName("level-text")[0].textContent = `Level: ${displaydata.level} 🚀`
</script>