<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Roguelite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" media="screen and (orientation: landscape)" href="../public/desktop.css">
</head>
<body>
<div class="topbar">
    <div class="currenciesgame">
        <div class="gold">
            <p class="gold-text-game">0 🪙</p>
        </div>
        <div class="xp">
            <p class="xp-text-game">XP Total: 1⭐</p>
        </div>
        <p class="level-text-game">Level: 1 🚀</p>
    </div>
</div>
<div class="body-container">
    <div id="card-container">
        <div class="options">
            <div id="heart-holder" class="heart-container">
            </div>
            <div class="buttons">
                <button id="startGameButton" class="optionClass" onclick="startGame()">Start Game</button>
                <button id="restartGameButton" class="hidden" onclick="resetGame()">Restart Game</button>
            </div>
        </div>
        <div id="card-holder" class="card-grid">
            <div></div>
        </div>
    </div>

    <div id="blurscreen" class="hidden">
        <h2>Level complete!</h2>
        <h2>Pick a new card!</h2>
        <div id="level-complete-card-selector">

        </div>
        <h2 id="level-complete-card-explanation">Select a card to see what it will do.</h2>
        <button class="blurbutton" id="confirm-choice">Go to next level</button>
        <button class="blurbutton" id="end-game-button">End game</button>
    </div>
    <div id="levelup-screen" class="hidden">
        <h1> Congrats, you leveled up!</h1>
        <button class="blurbutton" id="continue-game-button">Continue</button>
    </div>
</div>
<script src="/scripts/eventbus.js"></script>
<script src="/scripts/data.js"></script>
<script src="/scripts/gold.js"></script>
<script src="/scripts/xp.js"></script>
<script src="/scripts/cardDistributor.js"></script>
<script>
    const displaydata = loadStuff();
    document.getElementsByClassName("gold-text-game")[0].textContent = `${displaydata.gold} Gold 🪙`
    document.getElementsByClassName("xp-text-game")[0].textContent = `${displaydata.xp} XP ⭐`
    document.getElementsByClassName("level-text-game")[0].textContent = `Level: ${displaydata.level} 🚀`
</script>
</body>
</html>