<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Roguelite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/main.css">
    <script src="/scripts/cardDistributor.js"></script>
</head>
<body>
<h1>Memory Roguelite V1</h1>
<button onclick="startGame()">Start Game</button>
<p>Select 2 cards and try to find all matching pairs!</p>
<div id="heart-container">
    <img id="heart0" class="heart" src="https://pics.clipartpng.com/midle/Heart_Shape_PNG_Clipart-3166.png" alt="heart icon">
    <img id="heart1" class="heart" src="https://pics.clipartpng.com/midle/Heart_Shape_PNG_Clipart-3166.png" alt="heart icon">
    <img id="heart2" class="heart" src="https://pics.clipartpng.com/midle/Heart_Shape_PNG_Clipart-3166.png" alt="heart icon">
    <img id="heart3" class="heart" src="https://pics.clipartpng.com/midle/Heart_Shape_PNG_Clipart-3166.png" alt="heart icon">
    <img id="heart4" class="heart" src="https://pics.clipartpng.com/midle/Heart_Shape_PNG_Clipart-3166.png" alt="heart icon">
    <img id="heart5" class="heart" src="https://pics.clipartpng.com/midle/Heart_Shape_PNG_Clipart-3166.png" alt="heart icon">
</div>
<div id="card-holder" class="card-grid">
    <div></div>
</div>

</body>
</html>